html, body, div { margin: 0; padding: 0; border: 0 }
div { z-index: 2; font-family: 'Mono'; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html { font-size: 16px; }
html, body { width: 100% }

body { white-space: nowrap; }

#article {height: 100vh;
          position: absolute;
          z-index: 3;
          top: 0;}
iframe {width:100%;
       height:100%}
#back { z-index: -1; position: absolute; left: 0; top: 0; width: 50vw; min-width: 640px; max-width: 800px; height: 100vh; opacity: 0.04 }
#emc { left: max(290px,18vw) }

#dna { left: max(min(800px, 49.5vw), 640px); height: 100%; overflow: auto; width: 0.77vw /*1.44vw*/;}

#container { display: flex }

#main { display: inline-block; white-space: normal; vertical-align: top; width: 40vw; min-width: 340px; max-width: 600px; height: 100vh; flex: 1 }
    #logo { margin-top: 5vh; text-align: center }
    #logo a { vertical-align: middle; color: darkred; font-size: min(max(20px, 7vw), 40px); font-weight: bold; white-space: nowrap }

    #enter { width: 100%; height: 11vh; padding: 2vh 0 2vh 0; text-align: center; background: #eee }
    #enter textarea { width: 60%; height: 90%; max-height: 90%; border: solid 1px #ccc; border-radius: 0.4vw; text-align: center; font-size: 1.33rem  }
    #enter button { cursor: pointer; border: solid 1px darkred; color: white; font-size: max(24px, 1.88vw); background: darkred; border-radius: 0.4vw; vertical-align: top; height: 92%; padding-right: 2%; }
    #enter button:hover { background: firebrick; border-color: firebrick }
    #enter button img, #enter button span { display: inline-block; vertical-align: middle; text-align: left; font-family: 'Mono'; max-height: 100% }
    #enter button span { font-family: 'Courier Prime'; }

    #motto { font-family: 'Mono'; text-align: center; width: 90%; margin: 2vh 0 0 5%; color: #aaa; font-size: max(24px, 1.55vw); white-space: normal; }

    #menu { text-align: center; margin: 6vh 5% 0 5%; border-bottom: solid 1px #ddd }
    #menu a { font-family: 'Courier Prime'; font-size: min(max(22px, 1.33vw), 24px); text-decoration: none; font-weight: bold; color: #444; display: inline-block; margin-left: 1vw; padding: 0.4vh 0.4vw 0.4vh 0.4vw; border-radius: 0.4vw; background: white  }
    #menu a.select { color: #e8a202 }
    #menu a:hover { background: #e8a202; text-decoration: none; color: white }
    #menu a.donate:hover { background: green }

#info { display: inline-block; vertical-align: top; width: 50vw; background: #fafafa; height: 100vh; flex: 1; flex-grow: 1; overflow-y: auto }

 #stats { margin: 2vh 0 0 3.5%; max-width: 95%; white-space: nowrap; font-size: min(1.11rem, 1.2vw) }
 #stats a { display: inline-block; padding: 0 1% 0 1%; text-decoration: none; color: black; white-space: normal; vertical-align: middle;}
 #stats a:hover { background: lemonchiffon }
 #stats a:hover .nu { font-weight: bold }
 #stats #total { border-right: solid 1px #ccc; width: 16%; }
 #stats #users { width: 11% }
 #stats #last { width: 67%; border-left: solid 1px #ccc }
 #stats #last .author { font-weight: bold }
 #stats #last .doi { font-weight: bold }
 #stats #last .nu { font-size: min(1rem, 1vw) }
 #stats a#last:hover .nu { font-weight: normal }
 #stats .he { color: darkred; font-weight: bold; margin-bottom: 1vh; white-space: nowrap }
 #stats .nu { word-wrap: break-word }
 #stats .su { color: #666 }

 #mirrors { margin: 1vh 1% 0 4.5%; font-size: min(1.11rem, 1.2vw); text-align: left }
 #mirrors .he { color: #999; background: #aaa; color:white; padding: 0.2vh 0.2vw 0.2vw 0.2vw; border-radius: 0.1vw; font-weight: bold; cursor: default }
 #mirrors a { display: inline-block; color: #777; text-decoration: none }
 #mirrors a:hover { color: darkred; text-decoration: underline }
 #mirrors a#seall { color: #333 }
 #mirrors a#seall:hover { text-decoration: none; font-weight: bold }

 #contacts { margin: 5vh 0 0 8.5%; font-size: 1rem; }
 #contacts .he span { color: darkred; font-size: max(1.44rem, 1.44vw); padding: 0 0 1vh 0; border-bottom: dashed 1px #ccc }
 #contacts #mailto { margin-top: 2vh }
 #contacts #mailto a { color: #444; text-decoration: none; font-size: max(1rem, 1vw); }
 #contacts #mailto a:hover { text-decoration: underline }
 #contacts #social { margin-top: 1vh }
 #contacts #social a { color: #333; text-decoration: none; font-size: max(1rem, 1vw); display: inline-block; margin-right: 1% }
 #contacts #social a:hover { color: darkred; text-decoration: underline }

 .bar { height: 6vh; width: 100% }

 #stats-big {display: none}
 #stats-big a { text-decoration: none; color: black;}
 #stats-big a:hover { background: lightyellow }


 #about
 {
     display: none;
     margin: 8vh 0 8vh 0;
     padding-top: 8vh;
     border-top: dashed 2vh darksalmon;
 }

 #about p
 {
     margin: 2vh 3% 0 4%;
     font-size: 1.22rem;
     text-align: left;
 }

 #about .he
 {
     font-family: 'Courier Prime';
     font-size: 7rem;
     color: goldenrod;
 }
 #about .te
 {
     display:inline-block;
     width:66%;
     vertical-align:middle
 }

 #about a
 {
     color: darkred;
     text-decoration: none;
     font-weight: bold;
 }
 #about a:hover
 {
     text-decoration: underline;
 }

@media only screen and (max-width: 1440px)
{
    #back { width: 100%; max-width: 100%; min-width: 100%; background-size: 37% auto; background-repeat: repeat; opacity: 0.07 }
    #dna { display: none }
    #emc { display: none }


    #container { display: block }
    #main { display: block; width: 100%; min-width: 100%; max-width: 100%; padding-top: 2vh; height: auto;}
        #logo { margin-top: 0; }
        #enter { height: 8vh; min-height: 64px; background: none; padding-bottom: 0 }
        #motto { margin-top: 2vh }
        #motto span { background: white; padding: 0.5vh 0.5vw 0.5vh 0.5vw; border-radius: 0.5vw }
        #menu { margin: 3vh 0 0 0; }

    #info { display: block; width: 100%; height: auto; padding-top: 2vh; white-space: normal }


    #stats-big
    {
        display: inline-block;
        vertical-align: middle;
        width: 27%;
        text-align: left;

        border: dashed 8px #ccc;
        border-radius: 16px;
        background: white;

        padding: 0 2% 2% 2%;

        font-size: 1rem;
        color: black;
        background: white;

    }
    #stats-big .he
    {
        text-align: left;
    }
    #stats-big .he span
    {
        background: #ccc;
        font-size: 1.44rem;
        padding: 1%;
        color: white;
    }
    #stats-big .number
    {
        color: darkred;
        font-size: 1.44rem;
        font-family: 'Courier Prime';
        font-weight: bold;
        background: white;
        margin-top: 2vh;
    }
    #stats-big #lastart
    {
        margin-top: 2vh;
        color: darkred;
        font-weight: bold;
    }
    #stats-big .author
    {
        font-weight: bold;
    }


        #lang a
        {
            display: inline-block;
            font-size: 0.9rem;
        }
        #lang span
        {
            font-size: 0.8rem;
        }
        #lang .he { background: none; font-weight: bold; color: #444 }

        #mirrors {
            margin: 0 0 0 1%;
            display: block;
            vertical-align: middle;
            padding: 0 1.5% 1vh 1%;
/*            border: solid 1px #999;
            border-radius: 1vw;*/
        }
        #mirrors a
        {
            display: inline-block;
            font-size: 0.9rem;
        }
        #mirrors span
        {
            font-size: 0.8rem;
        }
        #mirrors .he { background: none; font-weight: bold; color: #444 }

        #stats { display: none }

        #contacts {
            margin: 4vh 0 0 0;
            padding: 3vh 0 3vh 0;
            width: 100%;
            background: #444;
        }
        #contacts div
        {
            margin-left: 4.5%;
            color: white;
        }
        #contacts .he span,
        #contacts #social a,
        #contacts #mailto a,
        #contacts #social a:hover
        {
            color: white;
        }
        #contacts #mailto
        {
            margin-top: 4vh;
        }

        .bar { display: none }

        #about { display: block }

    .third { display: none }
}

@media only screen and (max-width: 1100px)
{
    #stats-big { display: none }
}

@media only screen and (max-width: 900px)
{
    #logo, #enter { width: 85%; margin-left: 15% }
    #motto, #menu { width: 77%; margin-left: 20% }
}

 @media only screen and (max-width: 780px)
 {
    #logo, #enter, #motto, #menu { width: 96%; margin-left: 0 }

    #back { background-size: 50% auto }
    #main { background: none }
    #bulb { display: none }

    #about .te
    {
        display:inline-block;
        width:100%;
    }

 }

 @media only screen and (max-width: 600px)
 {
     #logo span { font-size: 70px }
     #menu { margin: 4vh 0 4vh 0 }
     #menu a { font-size: 24px; }

     #mirrors {
         text-align: center;
         margin: 2vh 1% 0 1%;
     }

     #lang {
         text-align: center;
     }

     #mirrors a, #lang a { font-size: 1.11rem; }

     #about .he
     {
         font-size: 4rem
     }
 }

 @media only screen and (max-width: 480px)
 {
    #enter { height: auto }
    #enter button { border-radius: 4px }
    #enter button img { height: 48px }
    #enter textarea { width: 88%; height: 64px }
    #logo span { font-size: 64px }

    .second { display: none }
 }



#news { margin: 4vh 0 0 4.5%; width: 95% }
 #news a, #news a div { color: #444; text-decoration: none; font-family: 'Courier Prime' }

 #news .it
 {
     display: inline-block;

     width: 90%;
     margin-left: 2%;
    white-space: nowrap;
 }


 #news .super { width: 100%; margin: 2vh 0 2vh 0;  }
 #news .super .title { font-size: min(1.6rem, 1.6vw) }
 #news .super img, #news .super span { display: inline-block; vertical-align: middle; border-radius: 1vw }
 #news .super img { display: none; margin-left: 1%; white-space: normal; max-width: 11% }
 #news .super span { margin-left: 1vw; white-space: normal; max-width: 88%; text-align: left }
 #news .super .sub { font-size: min(1rem, 1vw); }
 #news .super a.title:hover span { /*border-bottom: solid 1px #444; border-radius: 0*/ background: lightyellow; color: black; }
 #news .super a.title:hover span.date { border: none }
 #news .super .date { margin-left: 0; font-size: min(1rem, 1vw); }


 #news .super a.title:hover span.pinned { background: #aaa; color: white }

 #news .super a.title span.pinned
 {
     padding: 0.4vh 0.2vw 0 0.2vw;
     border-radius: 0.2vw;
     color: white;
     background: #aaa;
     font-size: 0.8rem;
 }

 #more { text-align: left; margin: 6vh 2vw 4vh 0; }
 #more a { font-family: 'Courier Prime'; display: inline-block; text-decoration: none; font-size: min(1.4rem, 1.4vw); color: #777; background: none; padding: 1vh 1vw 1vh 1vw; border-radius: 0.4vw; border: solid 1px #777 }
 #more a:hover { background: #777; color: white }

@media only screen and (min-width: 1441px)
{
    #news .super span { background: white; padding: 0.6vw; border: solid 1px #bbb; border-radius: 1vw  }
    #news .super .date { padding: 0.2vw; border: 0 }
    #news .super a.title span.pinned { display: inline-block; background: #e8a202; margin-top: -3.5vh }
}

@media only screen and (max-width: 1440px)
{
    #news
    {
        margin-left: 2%;

        display: inline-block;
        vertical-align: top;
        width: 62%;
    }

    #news .it {
        margin-left: 1%;
        width: 80%;
    }

    #news .super .title {
        font-size: 1.55rem;
   }


    #news .super a.title:hover span { background: white; }

}

@media only screen and (max-width: 1100px)
{
    #news { width: 95% }
    #news .super span { max-width: 100% }
}

@media only screen and (max-width: 600px)
{
    #news .he {
        display: block;
        margin-left:  0;
    }

    #news .it
    {
        display: block;
        width: 95%;
        margin-left: 0;
    }
    #news .super
    {
        border-bottom: solid 1px #ddd;
        margin-top: 2vh;
    }

}

#mailbox { margin: 8vh 0 0 8.5%; white-space: normal; width: 80%; }
#mailbox .he div { display: inline-block; vertical-align: middle }
#mailbox .he #stamp { width: 8% }
#mailbox .he #stamp img { width: 90% }
#mailbox .he #title { margin: 0 0 0 2%; font-size: max(1.44rem, 1.44vw); padding: 0 0 1vh 0; border-bottom: dashed 1px #ccc }

#mailbox .description { margin: 0 0 0 10%; font-size: min(1.11rem, 1.11vw); text-align: justify }

#mailbox #mail-thanks p { color: darkred;font-weight:bold}
#mailbox #mail-thanks { display: none; text-decoration: none}
#mailbox #mail-error { display: none }


#mailbox #mail { margin: 1.44vh 0 0 10% }
#mailbox #mail input { vertical-align: middle; font-size: min(1.11rem, 1.11vw); line-height: 1.33rem; text-align: center; width: 33%; padding: 0.6vw; border-radius: 0.4vw; border: solid 1px #777 }
#mailbox #mail button { vertical-align: middle; font-size: min(1.11rem, 1.11vw); margin-left: 0.5%; padding: 0.6vw; cursor: pointer; border-radius: 0.4vw; border: solid 1px white; background-color: goldenrod; color: white }
#mailbox #mail button:hover { background-color: green; }




@media only screen and (max-width: 1440px)
{

    #mailbox
    {
        margin-left: 2%;
        width: 66%;
        display: block;
    }

    #mailbox .description {
        font-size: 1.11rem
    }

    #mailbox #mail input {
        font-size: 1.11rem;
    }

    #mailbox #mail button {
        font-size: 1.11rem;
    }
}

 @media only screen and (max-width: 780px)
 {
    #mailbox #mail input {
        width: 55%;
    }

    #mailbox {
        width: 90%;
    }
 }

 @media only screen and (max-width: 600px)
 {

 }



#news .it { white-space: normal }
            .paper { margin-top: 2vh }
            #news .paper a:hover { background: black; color: lime }
            #article { width: 63vw; left: 36vw }
            @media only screen and (max-width: 1440px)
            {
                #stats-big { display: none }
                #news { width: 90% }
            }
